<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>index</title>

		<link href="css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="card">
			<div class="header">
				<h1>Fyxbook</h1>
				<pre class="gray-title">
국내 최초의 A/S 전문 SaaS 서비스 Fyxbook.
A/S 업무를 디지털로 전환하고 업무 효율 및 고객경험을 개선해보세요.
Fyxbook과 함께라면 회사의 A/S가 새로워집니다.</pre
				>
				<hr />
			</div>
			<div class="content">
				<pre>
<img src="image/waving-hand.svg" alt="hand" />  안녕하세요! Fyxbook입니다.
번거롭고 xx한 A/S업무, xx하셨죠?
예상 월 비용은 <%= cost.toLocaleString() %>원 입니다.
		</pre>
				<div class="btn-frame">
					<button class="confirm-button">fyxbook 바로가기</button>
				</div>
				<hr />
			</div>
		</div>
	</body>
</html>
